@media (min-width: 64rem) {

    header {
        position: relative;
        display: flex;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background-color: #E02401;
    }

    .logo {
        display: flex;
        align-items: center;
        flex: 0;
        align-self: stretch;
        height: 200px;
    }

    .nav_bar {
        flex: 1;
        width: 100%;
        align-self: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: inline;
    }

    nav ul li a {
        display: block;
        padding: 2rem;
        font-size: 1.75rem;
    }

    nav ul li {
        float: left;
    }

    nav ul {
        list-style-type: none;
    }

    nav li a {
        display: block;
        color: #E02401;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav ul li a:hover {
        background-color: #F9CF93;
        color: #E02401;
        transition: 0.4s;
    }

    .active a {
        background-color: #F9CF93;
        color: #E02401;
        text-decoration: underline;
    }
    
}