@media (min-width: 64rem) {

    header {
        position: relative;
        display: flex;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background-image: linear-gradient(to bottom,rgb(250, 238, 224,1), rgb(250, 238, 224,0));
        z-index: 1;
    }

    .logo {
        display: flex;
        align-items: center;
        align-self: stretch;
        height: 200px;
    }

    .nav_bar {
        flex: 1;
        width: 100%;
        align-self: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: inline;
    }

    nav ul li a {
        display: block;
        padding: 2rem;
        font-size: 1.75rem;
    }

    nav ul li {
        float: left;
    }

    nav ul {
        list-style-type: none;
    }

    nav li a {
        display: block;
        color: #E02401;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav ul li a:hover {
        background-color: #F9CF93;
        color: #E02401;
        transition: 0.4s;
    }

    .active a {
        background-color: #F9CF93;
        color: #E02401;
        text-decoration: underline;
    }

    section {
        margin: 3rem 0;
    }
    
    /*---TOP SECTION---*/
    .image_right_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .image_right_grid h1 {
        font-size: 5rem;
        grid-column: 1/4;
        grid-row: 1/2;
        align-self: center;
    }

    .image_right_grid h2 {
        font-size: 3rem;
        grid-column: 1/4;
        grid-row: 2/3;
        align-self: start;
    }

    .image_right_grid p {
        font-size: 2.5rem;
        color: #E02401;
        grid-column: 1/4;
        grid-row: 3/4;
        align-self: start;
        text-shadow: 1px 1px 2px #FAEEE0;
    }

    .image_right_grid button {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: stretch;
        align-self: center;
    }

    .image_right_grid img {
        z-index: -1;
        grid-column: 1/4;
        grid-row-start: 1;
        grid-row-end: span 3;
    }

    .homepage_img {
        border-radius: 5px;
    }

    /*---MIDDLE SECTION---*/
    .image_left_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 60% 20% 15%;
        margin: 5rem;
        grid-gap: 1rem;
    }

    .image_left_grid h1 {
        font-size: 4rem;
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .image_left_grid img {
        grid-column: 1/4;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
    }

    .rental_image {
        max-height: 130px;
    }

    .rental_grid_item h3 {
        grid-row: 2/3;
    }

    .rental_grid_item img {
        grid-column: 3/4;
        width: 50%;
    }

    .image_left_grid button {
        grid-column: 2/3;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
    }

    /*---FOOTER SECTION---*/
    .contact_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .footer_map {
        grid-column: 1/2;
        max-width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .contact {
        grid-column: 2/3;
        grid-row: 1/5;
    }

    /*-------------TOURS PAGE----------------*/
    .attractions, .attractions_middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 1fr;
        align-items: center;
        justify-items: center;
        margin: 10rem 0;
    }

    .attractions h2 {
        font-size: 2rem;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .attractions p {
        grid-column: 2/3;
        grid-row: 2/3;
        line-height: 1.5rem;
    }

    .attractions img {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .attractions_middle h2 {
        font-size: 2rem;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .attractions_middle p {
        grid-column: 1/2;
        grid-row: 2/3;
        line-height: 1.5rem;
    }

    .attractions_middle img {
        grid-column: 2/3;
        grid-row: 1/3;
    }

/*-------------RESERVATIONS PAGE----------------*/
    
    .rental_agreement {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        font-size: 1.5rem;
        line-height: 2rem;
}

    form input.submitBtn {   
        background: #E02401;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-color: #FAEEE0;
        border-radius: 5px;
        color: white;
        padding: .5rem 5rem;
        font-size: 2rem;
    }

    .contact_form {
        position: relative;
    }
    iframe {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 600px; 
        height: 400px;
    }

    /*----------- RENTALS PAGE ------------*/
}