header, nav, footer {
    font-family: 'Baloo Bhaijaan 2', serif;
}

body {
    margin: 0;
    background-color: #FAEEE0;
}

main {
    max-width: 1300px;
    font-family: 'Baloo Bhaijaan 2', serif;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #E02401;
    text-align: center;
    margin: 0 .5rem;
    text-shadow: 1px 1px 2px #2b2a2a;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

header {
    display: block;
}

.logo {
   margin: auto;
   text-align: center;
   height: auto;
}

section {
    text-align: center;
    margin: 2rem 0;
}

.reserve_button {
    background: #E02401;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: #FAEEE0;
    border-radius: 5px;
    color: white;
    padding: .5rem 5rem;
    font-size: 2rem;
}

/*---NAV BAR---*/
nav {
    background-color: #E02401;
    display: block;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FAEEE0;
}

nav ul.hide {
    display: none;
}

nav ul li {
    list-style-type: none;
    overflow: hidden;
}

 nav ul li a {
    color: #FAEEE0;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}

.active {
    text-decoration: underline;
}

.active a {
    background-color: #FAEEE0;
    color: #E02401;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/*--HERO IMAGE SECTION--*/
.homepage_img {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--RENTAL SUMMARY SECTION--*/
.rentals_section ul {
    text-align: left;
    list-style-type: circle;
}

.rental_image {
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.rentals_section h3 {
    font-size: 1.75rem;
    text-shadow: 1px 1px 2px #000000;
}

/*--WEATHER SUMMARY SECTION--*/
.weather_summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #FAEEE0;
    background-color: #E02401;
    color: #000;
    grid-gap: .5rem;
    box-shadow: 0 0 30px #333;
    background: radial-gradient(#FAEEE0, #F9CF93);
    text-align: left;
    margin-bottom: 2rem;
}

.leftData {
    grid-column: 1/2;
    justify-self: end;
    font-weight: bold;
    grid-row: 2/3;
    text-align: right;
}

.rightData {
    grid-column: 2/3;
    color: #E02401;
    font-weight: bold;
    grid-row: 2/3;
    text-transform: capitalize;
}

.grid_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #FAEEE0;
    background: radial-gradient(#FAEEE0, #F9CF93);
    color: #E02401;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--FOOTER SECTION--*/
.footer_map {
    max-width: 100%;
}

.contact_info {
    background-color: #E02401;
    color: #FAEEE0;
    text-align: left;
    padding: 1rem;
}

.icon {
    width: 20px;
    border-radius: 10px;
    margin-right: 1rem;
}

.social_icon {
    width: 20px;
    padding: 0 .5rem;
}

.bottom {
    background: radial-gradient(#FAEEE0, #F9CF93);
    color: #E02401;
    text-align: center;
    padding: 1rem;
}

/*-------------TOURS PAGE----------------*/
.attractions img {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attractions p {
    margin: .5rem;
    line-height: 1.5rem;
}

/*----------- RESERVATION PAGE ------------*/
.rental_agreement {
    font-size: 1.2rem;
}

.rental_agreement li {
    list-style-type: circle;
}

/*----------- RESERVATION FORM ------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #E02401;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #E02401;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form ::placeholder {
    color: #000;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000;
    /* font-size: .8rem; */
}

form label.top input, form label.top select {
    /* -webkit-appearance: none; */
    display: block;
    font-size: 1rem;
    border: solid 1px #E02401;
    border-radius: 4px;
    padding: .75rem;
    color: #000;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {   
    background: #E02401;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: #FAEEE0;
    border-radius: 5px;
    color: white;
    padding: .5rem 2rem;
    font-size: 1.5rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.textArea {
    background-color: white;
}

.confirmation {
    margin: 10rem auto;
    text-align: center;
}

.confirmation h1 {
    font-size: 4rem;
}

.confirmation h3 {
    font-size: 3rem;
}

.confirmation_button {
    margin: 2rem 0;
}

.confirmation_reserve_button {
    background: #E02401;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: #FAEEE0;
    border-radius: 5px;
    color: white;
    padding: .5rem 3rem;
    font-size: 1.5rem;
    margin: 1rem;
}

/*----------- CONTACT PAGE ------------*/
iframe {
    margin: 1rem;
    max-width: 95%;
}

/*----------- RENTALS PAGE ------------*/
.data_table {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem .2rem;
}

.data_table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

.data_table th {
    background-color: #E02401;
    color: #FAEEE0;
}

.data_table img {
    width: 50px;
}