@media (min-width: 64rem) {

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 35px;
        text-align: center;
    }

    h3 {
        font-size: 25px;
    }
    
    p {
        font-size: 20px;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: inline;
    }

    nav ul li a {
        display: block;
        padding: 2rem;
    }

    nav ul li {
        float: left;
        
    }

    nav ul li a:hover {
        background-color: #E6E6E6;
        color: #14279B;
        transition: 0.5s;
    }    

    header img {
        width: 200px;
        height: auto;
    }

}