@media (min-width: 64rem) {

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 35px;
        text-align: center;
    }

    h3 {
        font-size: 25px;
    }
    
    p {
        font-size: 20px;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        display: flex;
        flex: 1 1;
    }

    

    header img {
        width: 200px;
        height: auto;
    }

}