    
    header, nav, footer, aside {
        font-family: "Roboto", serif;
        margin: 0 auto;
    }
    
    main {
        max-width: 1300px;
        font-family: "Roboto", serif;
        margin: 0 auto;
    }
    
    main h1 {
        color: #000000;
        text-shadow: 2px 2px #e6e6e6;
    }

    h1 {
        font-family: 'Lora', serif;
        font-size: 30px;
        text-shadow: 2px 2px gray;
    }
    
    h2 {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: .5rem 0;
    }

    header h2 {
        text-shadow: 2px 2px gray;
    }
    
    h3 {
        font-size: 15px;
        text-align: center;
        margin: 0;
        padding: .5rem 0;
    }

    h4 {
        font-size: 15px;
        text-align: center;
    }
    
    p {
        font-size: 10px;
    }
 
    aside {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcda32+0,e6e6e6+100 */
    background: #fcda32; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcda32 0%, #e6e6e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcda32 0%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcda32 0%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda32', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    }

    

    .contentbox {
        background-color: #ccc;
        border: 1px dashed;
        margin: 10px 0;
        padding: 10px;
    }

    header img {
        width: 100px;
        height: auto;
    }
    
    header {
        display: flex;
        justify-content: center;
    }
    
    .headings {
        text-align: center;
        align-self: center;
    }
    
    header, footer {
        background-color: #3D56B2;
        text-align: center;
        color: white;
    }
    
    nav {
        background-color: #14279B;
        display: block;
        /* padding: 8px 0; */
    }
    
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #fff;
    }

    nav ul.hide {
        display: none;
    }

    nav ul li {
        list-style-type: none;
        overflow: hidden;
    }
    
    nav ul li a {
        color: white;
        /* padding: 0.75rem 2%; */
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
    }

    nav ul li:hover {
        background-color: #E6E6E6;
        color: #14279B;
        transition: 0.5s;
    }

    nav ul li a {
        display: block;
    }

    .active {
        background-color: #3D56B2;
        text-decoration: underline;
    }

    .active, a {
        color: #14279B;
    }
    
    footer a {
        color: white;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

    .hero_img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 0 0 30px #333;
    }

    .forecast {
        margin-top: 1.5rem;
    }

    .summarySection {
        position: relative;
        width: 100%;
    }

    .weatherSummary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid #E6E6E6;
        background-color: #14279B;
        color: #E6E6E6;
        grid-gap: .5rem;
        box-shadow: 0 0 30px #333;
        background: radial-gradient(#5c7aea, #14279B);
    }

    .weatherSummary h3 {
        grid-column: 1/3;
        color: #E6E6E6;
        text-align: left;
        padding-left: 1rem;
        border-bottom: 2px solid #E6E6E6;
    }


    .leftData {
        grid-column: 1/2;
        justify-self: end;
        font-weight: bold;
        grid-row: 2/3;
        text-align: right;
    }

    .rightData {
        grid-column: 2/3;
        color: yellow;
        font-weight: bold;
        grid-row: 2/3;
    }

    .forecast {
        display: none;
    }

    .article {
        margin-top: 1.5rem;
    }

    .articleTitle {
        text-align: left;
        padding: 1rem;
    }

    .article_img {
        max-width: 100%;
    }

    .articleText {
        line-height: 1.1rem;
        padding: 0 1rem;
    }

    .contactInfo {
        background-color: #14279B;
        padding: 1rem;
    }

    .grid2 {
        text-align: left;
    }

    .icon {
        width: 20px;
        background-color: #E6E6E6;
        border-radius: 10px;
        margin-right: 1rem;
    }

    .social_icon {
        width: 20px;
    }

    .map_img {
        max-width: 90%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }