    
    header, nav, footer, aside {
        font-family: "Roboto", serif;
        margin: 0 auto;
    }
    
    main {
        max-width: 1000px;
        font-family: "Roboto", serif;
        margin: 0 auto;
    }
    
    h1 {
        font-family: 'Lora', serif;
        font-size: 30px;
        text-shadow: 2px 2px gray;
    }
    
    h2 {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: .5rem 0;
    }
    
    h3 {
        font-size: 15px;
        text-align: center;
        margin: 0;
        padding: .5rem 0;
    }
    
    p {
        font-size: 10px;
    }
 
    aside {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcda32+0,e6e6e6+100 */
    background: #fcda32; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcda32 0%, #e6e6e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcda32 0%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcda32 0%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcda32', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    }

    

    .contentbox {
        background-color: #ccc;
        border: 1px dashed;
        margin: 10px 0;
        padding: 10px;
    }

    header img {
        width: 100px;
        height: auto;
    }
    
    header {
        display: flex;
        justify-content: center;
    }
    
    .headings {
        text-align: center;
        align-self: center;
    }
    
    header, footer {
        background-color: #3D56B2;
        text-align: center;
        color: white;
        padding: 10px 0;
    }
    
    nav {
        background-color: #14279B;
        display: block;
        padding: 8px 0;
    }
    
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #fff;
    }

    nav ul.hide {
        display: none;
    }

    nav ul li {
        list-style-type: none;
        overflow: hidden;
    }
    
    nav ul li a {
        color: white;
        padding: 0.75rem 2%;
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
    }

    nav li a:hover {
        background-color: #E6E6E6;
        color: #14279B;
        transition: 0.5s;
    }
    
    footer a {
        color: white;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }