body {
    display: block;
    font-family: "Roboto", serif;
    max-width: 75%;
    margin: 0 auto;
}

img {
    float: right;
    width: 300px;
    height: auto;
    border-radius: 0 25px 0 0;
    box-shadow: 0 4px 8px 0 rgba(235, 232, 232, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

header {
    background-color: rgba(31,41,55);
    border-radius: 25px;
    padding: 1%;
}

h1 {
    color: white;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

ul {
    font-size: 1.5em;
}

footer {
    background-color: rgba(31,41,55);
    border-radius: 25px;
    padding: 1% 0;
    color: white;
}

footer a {
    color: inherit;
}

.footer_info {
    font-size: 1.2em;
}

.indented {
    padding-left: 10%;
}

.course_list {
    padding-left: 2%;
}

.last_updated {
    padding-left: 10%;
    color: yellow;
}